<!doctype html>
<html lang="ru">

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Панель администрирования</a>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Почта</th>
                <th>Телефон</th>
                <th>Комментарий</th>
                <th>Время</th>
            </tr>
        </thead>
        <tbody>
            {% for r in data %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.name}}</td>
                <td>{{r.email}}</td>
                <td>{{r.phone}}</td>
                <td>{{r.question}}</td>
                <td>{{r.time.day}}.{{r.time.month}}.{{r.time.year}} {{r.time.hour}}:{{r.time.minute}}:{{r.time.second}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>

</html>